DEBUG=1
SECRET_KEY='django-insecure-7#y8g+2h%r6h2@^hx9falc0_yl^a-6hu4uo+kf25n$#k2ztlk8'
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=shop_db
POSTGRES_USER=shop_admin
POSTGRES_PASSWORD=1234
DB_HOST=db
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@shop.com
PGADMIN_DEFAULT_PASSWORD=admin_pass